footer.footer
    .footer__selectBox
        span.footer__selecBox-text option
    .footer__selectBox
        span.footer__selecBox-text option
    .footer__selectBox
        span.footer__selecBox-text option
    .footer__selectBox
        span.footer__selecBox-text option
    .footer__selectBox
        span.footer__selecBox-text option
    .footer__selectBox
        span.footer__selecBox-text option