header.header
    .header__head
        .header__head-menu
            i.fas.fa-bars
        .header__head-searchBar
            input(type="text" class="searchBar")
        .header__floatingBox
            .header__floatingBox-xscroll
                .flatingBox 1
                .flatingBox 2
                .flatingBox 3
                .flatingBox 4
                .flatingBox 5
                .flatingBox 6
                .flatingBox 7
                .flatingBox 8