.admin__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  .admin__header-function {
    position: fixed;
    z-index: 3;
  }
  .admin__header-text {
    position: fixed;
    top: 40px;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    margin-bottom: 50px;
    z-index: 3;
  }
}

.admin__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  .admin__column-box {
    position: fixed;
    top: 0px;
    background-color: white;
    width: 100%;
    padding-top: 200px;
    display: flex;
    justify-content: center;
    .admin__column-list {
      height: 36px;
      text-align: center;
      .admin__column-listBox {
        font-size: 25px;
      }
    }
  }
}

.admin__content {
  margin-top: 250px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .admin__content-box {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    .admin__content-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      text-align: center;
      margin-bottom: 10px;
      .admin__content-listBox {
        margin-top: 2px;
      }
    }
  }
}

.listBoxIndex {
  width: 100px;
}
.listBoxJobsupport {
  width: 150px;
}
.listBoxStaysupport {
  width: 150px;
}
.listBoxEconomysupport {
  width: 150px;
}
.listBoxStartupsupport {
  width: 150px;
}
.listBoxScholarship {
  width: 150px;
}
.listBoxEduprogram {
  width: 150px;
}

.listBoxName {
  width: 200px;
}
.listBoxTags {
  width: 200px;
}
.listBoxExpired {
  width: 150px;
}
.listBoxOutline {
  width: 550px;
}
.listBoxRange {
  width: 100px;
}
.listBoxLink {
  width: 150px;
}
.listBoxEval {
  width: 350px;
}
.listBoxRating {
  width: 50px;
}
.listBoxUpdate {
  width: 50px;
}
.listBoxDelete {
  width: 50px;
}

#listBoxOutline,
#listBoxEval {
  text-align: left;
}

hr {
  width: 2400px;
}

.admin__endText {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .admin__endText-text {
    font-size: 50px;
    margin-top: 50px;
  }
}
