.main__title {
  display: flex;
  justify-content: center;
  margin-right: 780px;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 600;
}

.main__content {
  display: flex;
  justify-content: center;
  .main__content-grid {
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: auto;
    .content-box {
      border: 1px solid rgb(211, 206, 206);
      height: 300px;
      width: 200px;
      margin-top: 20px;
      margin-left: 1px;
      margin-right: 1px;
      .content-boxName,
      .content-boxDate,
      .content-boxRating {
        margin-left: 10px;
        position: relative;
        color: black;
        z-index: 2;
      }
      .content__boxTagBox {
        position: relative;
        display: flex;
        justify-content: flex-end;
        margin-right: 7px;
      }
      .content__boxDday {
        position: relative;
        display: flex;
        justify-content: flex-end;
        .content__boxDday-text {
          font-size: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          color: white;
          position: absolute;
          top: -204px;
          background-color: green;
          width: 75px;
          height: 38px;
          border-radius: 0 0 0 20px;
        }
      }
      .content__boxTags {
        position: absolute;
        top: -40px;
        height: 45px;
        font-size: 15px;
        display: flex;
        .content__boxTags-element {
          border-radius: 15px;
          color: black;
          margin-left: 4px;
          padding-top: 7px;
          padding-left: 7px;
          padding-right: 7px;
          width: auto;
          height: 22px;
          background-color: #b5cd1f;
        }
      }
      .content-boxName {
        margin-top: 8px;
        font-size: 20px;
        height: 25px;
        margin-bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .content-boxDate {
        font-size: 12px;
      }
      .content-boxRating {
        margin-top: 17px;
        font-size: 12px;
      }
    }
  }
}

.ratingStar {
  color: red;
}

.ratingStar-six-home {
  color: red;
  font-size: 25px;
  margin-top: -5px;
}
