header.header#header
    .header__head
        .header__head-function
            //-.header__head-searchBar
                //-input(type="text" class="searchBar" placeholder="검색")
                //-span.searchBar-magni
                    <i class="fas fa-search"></i>
            .header__head-login
                if !user
                    span
                        a(href="/join") Join
                    span
                        a(href="/login") Log In
                else
                    span
                        a(href="/logout") Log Out
                    span
                        a(href="/edit") ||글쓰기
                    span
                        a(href="/admin") ||어드민페이지
        
        .header__head-title
            a(href="/")
                span.head-name 청포도
                img(src="static/images/muscatimg.png" alt="My Image" width="30" height="30")
        .header__head-menu#head-menu
            i.fas.fa-bars
        

